---
import '~/assets/styles/base.css';

import CustomStyles from '~/components/common/CustomStyles.astro';
import MetaTags from '~/components/common/MetaTags.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';

import { MetaSEO } from '~/types';
import { SITE } from '~/config';

export interface Props {
  class?: string;
  meta?: MetaSEO;
}

const { meta = {}, class: className } = Astro.props;
const { language = 'en', textDirection = 'ltr' } = SITE;
---

<!DOCTYPE html>
<html lang={language} dir={textDirection} class:list={[className, '2xl:text-[20px]']}>
  <head>
    <MetaTags {...meta} />
    <CustomStyles />
  </head>

  <body class="relative antialiased text-page bg-dark text-white tracking-tight">
    <slot />
    <BasicScripts />
    <style is:global>
      img {
        content-visibility: auto;
      }

      html,
      body {
        margin: 0;
        height: 100%;
        scroll-behavior: smooth;
        scroll-snap-type: y proximity;
      }

      ::-webkit-scrollbar-track {
        background-color: #131313;
      }

      ::-webkit-scrollbar {
        width: 10px;
        background-color: inherit;
      }

      ::-webkit-scrollbar-thumb {
        background-color: #000000;
        border: 2px solid #555555;
        border-radius: 5px;
      }
    </style>
  </body>
</html>
