---
import Layout from './BaseLayout.astro';
import { MetaSEO } from '~/types';

export interface Props {
  class?: string;
  meta?: MetaSEO;
}

const { meta, class: className } = Astro.props;
---

<Layout {meta} class:list={['', className]}>
  <main>
    <slot />
  </main>
  <slot name="footer" />
</Layout>
